---
title: Simple Example
---

<div id="viewer"></div>

<div id="controller">
  <ol>
    <li>
      <h2>Welcome to Philadelphia!</h2>
      <input type="button" id="SkylineBtn" value="Philadelphia Skyline from Drexel Summit" />
    </li>
    <li>
      <h2>Drexel Biomed HQ</h2>
      <input type="button" id="BiomedLobbyBtn" value="Bossone 7th Floor Lobby" />
    </li>
    <li>
      <h2>Start Classes</h2>
      <input type="button" id="MainBldgBtn" value="Main Building" />
    </li>
    <li>
      <h2>STAR Research</h2>
      <input type="button" id="BiomedLabsBtn" value="Bossone 6th Floor Labs" />
    </li>
    <li>
      <h2>Go on Co-op</h2>
      <input type="button" id="ChopBtn" value="Children's Hospital of Philadelphia" />
    </li>
    <li>
      <h2>Senior Design</h2>
      <input type="button" id="AtriumBtn" value="Bossone 3rd Floor Atrium" />
    </li>
  </ol>
</div>