---
title: Drexel Biomed 360 Experience
---
<div id="perspective" class="perspective effect-rotateleft">
    <div class="container">
      <div class="wrapper"><!-- wrapper needed for scroll -->
        <!-- Top Navigation -->
      <div id="viewer"></div>
    </div><!-- /wrapper -->
  </div><!-- /container -->
  <div id="controller"></div>
</div><!-- /perspective -->