---
title: Simple Example
---

<div id="viewer"></div>

<div id="controller">
  <ol>
    <li>
      <h2>Welcome to Philadelphia!</h2>
      <input type="button" id="loadScene_Skyline" value="Philadelphia Skyline from Drexel Summit" />
      <br>
      <input type="button" id="lookAt_30th" value="30th Street Station" />
      <input type="button" id="lookAt_Bossone" value="Bossone Research Center" />
    </li>
    <li>
      <h2>Drexel Biomed HQ</h2>
      <input type="button" id="loadScene_BiomedLobby" value="Bossone 7th Floor Lobby" />
      <br>
      <input type="button" id="lookAt_Coulter" value="Coulter Award" />
      <input type="button" id="lookAt_LSS" value="Life Saving Solutions Showcase" />
      <input type="button" id="lookAt_Faculty" value="Faculty Directory" />
      <input type="button" id="lookAt_Ultrasound" value="Ultrasound" />
    </li>
    <li>
      <h2>Start Classes</h2>
      <input type="button" id="loadScene_MainBldg" value="Main Building" />
      <br>
      <input type="button" id="lookAt_Clock" value="J. Peterson Ryder Memorial Clock" />
      <input type="button" id="lookAt_DrexelCentral" value="Drexel Central" />
      <input type="button" id="lookAt_Auditorium" value="Main Auditorium" />
    </li>
    <li>
      <h2>STAR Research</h2>
      <input type="button" id="loadScene_BiomedLabs" value="Bossone 6th Floor Labs" />
    </li>
    <li>
      <h2>Go on Co-op</h2>
      <input type="button" id="loadScene_Chop" value="Children's Hospital of Philadelphia" />
    </li>
    <li>
      <h2>Senior Design</h2>
      <input type="button" id="loadScene_Atrium" value="Bossone 3rd Floor Atrium" />
    </li>
  </ol>
</div>